/* Your CSS code goes here */
.header {
    background-color: #C8A2C8;
    padding: 30px;
    text-align: center;
  }
  
  h1 {
    color: whitesmoke;
    text-decoration: underline;
    background-color: #C8A2C8;
    font-size: 100px;
    /* position: absolute;
    left: 50%; */
    }
  
  h3 {
    font-size: 50px;
    font-weight: bold;
    color: grey;
    /* background-color: aquamarine; */
    /* text-align: right; */
    padding: 20px;
  }
  
  td {
    width: 200px;
  }
  
  .dp {
    /* position: absolute;
    left: 3%;
    top: 13%; */
  }
  
  .socials-head { 
    background-color: pink;
    /* position: absolute;
    right: 27%;
    top: 5%; */
  }
  
  .socials{
    background-color: azure;
    padding: 20px;
  }
  .socials li {
    padding: 20px;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 5px; 
    /* position: absolute;
    right: 41%;
    top: 23%; */
  }
  
  .socials li a {
    text-decoration: none;
  }
  
  .p1 {
    /* position: absolute;
    right: 4%;
    left: 52%;
    top: 40%; */
  }
  
  .p2 {
    /* position: absolute;
    right: 3%;
    left: 3%;
    top: 82%; */
  }
  
  .sheeph {
    /* position: absolute;
    right: 7%;
    top: 64%; */
  }
  
  .sheep {
    /* position: absolute;
    right: 16%;
    top: 67%; */
  }
  
  .tfav {
    /* position: absolute;
    top: 66%;
    left: 3%; */
  }
  
  .text {
    background: #202124;
    color: #bdc1c6;
    border-radius: 8px;
    padding: 16px;
  
    margin-left: var(--rhs-margin);
    flex: 0 auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 369px;
    position: relative;
    padding-bottom: 15px;
    transition: opacity 0.3s;
  }